/* About.css */

.card {
    background-color: transparent; /* Set the background color to be colorless */
    border: none; /* Remove any borders if needed */
  }

  
.card-body {
  background-color: transparent !important; /* Set the background color of the card body to be transparent */
}

  
  .card-title {
    color: #000; /* Set the text color to dark */
  }

  .increased-font-size {
    font-size: 25px; /* You can adjust the font size as needed */
  }
  
  