/* src/components/Layout.css */
@import '~bootstrap/dist/css/bootstrap.min.css';

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.loading {
  font-size: 100px;
  color: #007bff; /* Blue color */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Make sure it covers the entire height of the screen */
}


.main-content {
    min-height: calc(100vh - (height of your header));
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}
/* Layout.css */

body {
  margin: 0;
  padding: 0;
  background-image: url('./cover.jpg');
  background-size: cover;
  background-attachment: fixed;
    /* Apply brightness filter */
    filter: brightness(0.9); /* Adjust the value as needed (0 to 1) */
  
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

